/* skills.css */
.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;
  }

  .fade-up.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
/* Existing styles ... */

/* New animation for fadeupright */
@keyframes fadeupright {
    0% {
      opacity: 0;
      transform: translateY(30px) translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
  @keyframes zoominup {
    0% {
      opacity: 0;
      transform: translateY(150px) scale(0.8);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  .zoominup {
    animation: zoominup 1s ease forwards;
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }

  /* styles for fadeupright animation */
  .fadeupright {
    animation: fadeupright 1s ease forwards;
    opacity: 0;
    transform: translateY(30px) translateX(30px);
  }

  .zoom-in-left {
    /* CSS rules for the zoom-in-left animation */
    animation: zoom-in-left 1s ease;
  }

  @keyframes zoom-in-left {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .zoom-in-right {
    /* CSS rules for the zoom-in-right animation */
    animation: zoom-in-right 1s ease;
  }

  @keyframes zoom-in-right {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .skills {
    background: linear-gradient(to bottom, #57059e, #4a00e0);
  }
